{% extends 'customer/base.html' %}
{% block content %}
{% load static %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12">{% include 'alert.html' %}</div>
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#alljobs"
                                role="tab" aria-controls="alljobs" aria-selected="true">All Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#pendingjobs" role="tab"
                                aria-selected="false">Pending Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#completedjobs" role="tab"
                                aria-selected="false">Completed Jobs</a>
                        </li>
                    </ul>
                    <div>
                        <div class="btn-wrapper">
                            <a href="{% url 'create' %}" class="btn btn-primary text-white me-0"><i
                                    class="icon-plus"></i>
                                Create Job</a>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="alljobs" role="tabpanel" aria-labelledby="alljobs">
                        <div class="row">
                            <div class="col-sm-12">
                                All Jobs
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pendingjobs" role="tabpanel" aria-labelledby="pendingjobs">
                        <div class="row">
                            <div class="col-sm-12">
                                Pending Jobs
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="completedjobs" role="tabpanel" aria-labelledby="completedjobs">
                        <div class="row">
                            <div class="col-sm-12">
                                Completed Jobs
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->

{% endblock %}