{% extends 'administrator/base.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% include 'alert.html' %}
                    <form method="post" action="{% url 'update' %}" class="forms-sample" id="#frmProfileEdit">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-3">
                                <label for="exampleInputUsername1">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group col-3">
                                <label for="exampleInputUsername1">Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group col-3">
                                <label for="exampleInputUsername1">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group col-3">
                                <label for="exampleInputEmail1">Email address</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group col-3">
                                <label for="exampleInputUsername1">Phone Number</label>
                                {{ form.phone_number }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2"
                            onclick="return validateForm4()">Update</button>
                        <a class="btn btn-dark" onclick="window.history.back()">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}